*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

Utility

 .icon-up ul{
    list-style-type: none;
 }


/* **********************
HEADER
********************** */
header{
    height: 100px;
    width: 100%;
   
}

.lente{
    width: 60%;
}

.navbar-brand img{
    width: 100%;
}

.navbar-icon {
    ;
}

/* **********************
MAIN
********************** */

/* sidebar */

.icon-up i {
    text-align: center;
    font-size: 20px;
    width: 30px;
    margin: auto 0;
}

.icon-down i {
    text-align: center;
    font-size: 20px;
    width: 30px;
    margin: auto 0;
}

.image-red{
    width: 40px;
}

.my-add i{
    font-size: 50px;
}




/* Structure
--------------------------------------- */
.container-wrapper{
    display: flex;
    width: 100%;
    margin-top: 0;
}

aside{
    width: 150px;
    height: calc(100vh - 100px)  ;
    background-color: #051e34;
}

main{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: beige;
    overflow-y: auto;
}
/* --------------------------------------- */



.btn-blue{
    background-color: #165bba;
}

.color-sidebar{
    background-color: #051e34;
}







/* **********************
FOOTER
********************** */