*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* border: 1px solid black; */
}


/* **********************
HEADER
********************** */
header{
    height: 100px;
    width: 100vw;
    background-color: grey;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0;
}


/* **********************
MAIN
********************** */

.container-wrapper{
    display: flex;
    width: 100vw;
    margin-top: 0;

}

aside{
    width: 70px;
    height: 100vh;
    background-color: rgba(7, 42, 99, 0.984);
    margin-top: 100px;
  
   
    
   
    
}

main{
    width: calc(70px + 100vw);
    height: 100vh;
    background-color: beige;
    margin-top: 100px;
  
   
}




/* **********************
FOOTER
********************** */